@import url('https://fonts.cdnfonts.com/css/anurati');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Borrar cuando se haya hecho el logo en photoshop*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Anurati', sans-serif;
}

body{
    min-height: 100vh;
    margin: 0;
    display: flex;    /*importante para que luego footer quede pegado en bottom con margintop auto*/
    flex-direction: column;
}

:root{
    /*texto*/
    --color_texto-primario: #f23288;
    --color_texto-secundario:#101e2c;
    --color_texto-terciario:#485663;
    --color_texto-extra_I:#389acb;
    --color_texto-extra_II:#cfdd2a;
    --color_texto-extra_III:#772bdf;

    /*Menu*/
    --main_color-primario:#cb266b;
    --main_color-secundario:#cb8ba5;
    --main_color-extra_I:#389acb;
    --main_color-extra_II:#cfdd2a;
    --main_color-extra_III:#772bdf;

    /*Otros*/
    --background-color:#fafbfe;
    --textoBajo_tamaño_fuente:16px;
    --texto_tamaño_titulo:40px;
    --texto_titulo_tarjeta:24px;
    --texto_titulo_tarjetav2: 20px;
    --texto_parrafo:16px;
    --caja_sombra-primario: 0px 6px 50px -20px rgba(0,0,0,0.2);
    --fuente_logo: 'poppins', sans-serif;
}



/*---Mobile-----------------*/

/*---Menu--------*/

/*--logo ver mobile----*/
.icon-user{
    display: none;
}

.logo{
    width: 90%;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    flex: none; /*acordar que se desactivo flex para el logo por constar de dos elementos, para no
    desarmar el logo*/
}

.logo a{
    color: var(--color_texto-primario);
}

#logo-ID{
    font-size: 20px;
    color: var(--main_color-extra_II);
    font-family: var(--fuente_logo);
}



/*---Header movil----*/
.contenedor_header{
    background: var(--color_texto-extra_III);
    width: 100%;
    /*aqui podria ir un height, evaluar mas tarde*/
    position: relative;
    padding: 10px;
    display: flex;
}

/*---buscador----*/
.buscador input{
    width: 300px;
    padding: 10px;
    display: none;
}

/*--Barra menu movil------------*/
.icon-menu{
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;

}

.menu{
    padding: 0px 0px;
    /*max-width: 9%;*/
    height: 45px;
    display: inline-block;
    align-items: center;
    justify-content: end;
    margin: auto;
}

.menu nav{
    height: 100%;
}

.menu nav > ul{ /* el selecto > sirve para señalar a que ul me refiero, esto sirve por si hay mas submenu(ul) en el menu, asi no afeta a todos*/
    height: 100%;
    display: flex;
}

.menu nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

.menu nav > ul >li >a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 42px;
    font-size: 14px;
    color: #cfdd2a;
    /*efecto hover*/
    transition: all 300ms ease;
}
.menu nav > ul >li >a:hover{
    transform: scale(1.1);
    background: var(--color_texto-primario);

}

/*
.menu nav > ul >li:first-child > a{                *first-child sirve para seleccionar el primer elemento de la 'li' lista
    
}
*/
/*---Icono amburguesa-------------------*/
.icon-menu{
    display: block;  /*block*/
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}

/*
#label-check{
    width: 26px;
    height: 100%;
}
*/
#check-menu{
    display: none;
}

/*--Submenu-----*/

.menu nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    position: absolute;
    top: 75px; /*--espaciado para luego hacer animacion del sub menu*/
    left: -2px;
    padding: 14px 0px;
    visibility: hidden;  /**/
    opacity: 0;  /**/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

.menu nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70;
}

/*--hacer flecha hacia arriba del submenu--*/
.menu nav ul li ul::before{ /*before seudoclase*/
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: var(--color_texto-primario);
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    /*text-transform: uppercase;     MAYUSCULAS PARA EL SUBMENU*/
    transition: all 200ms ease;
}

nav ul li ul li a:hover{
    background: var(--main_color-extra_I);
    color: #fafbfe;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*--Articulos------------------------------------------------------------------------*/

.contenedor_articulos div>h2{
    margin-left: 35px;
}


.contenedor_columnas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: #4095eb; */
}
.contenedor_columnas .columna_articulo{
    margin-left: 10px;
    margin-right: 1%;
}

.contenedor_card{
    width: 530px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px; /* evaluar*/
    text-align: center;/* evaluar*/
    transition: all 0.25s;
}
.contenedor_card:hover{
    transform:translateY(-15px); /*vertical*/
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.contenedor_card img{
    width: 530px;
    object-fit: cover; /*evitar que se reescale la imagen*/
    height: 220px;
}

.contenedor_card h4{
    font-weight: 900; /*evaluar*/
    margin-top: 10px;
    margin-bottom: 15px;
}

.contenedor_card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

/*link leer mas- avaluar btn*/
.contenedor_card a{
    font-weight: 500;
    text-decoration: none;
    color: var(--color_texto-primario);
}



/*---Footer-------------------------------------------------------------------------*/
/*--Footer--------------*/
/*---Tres columnas evaluar mas adelante-------*/
.contenedor_footer-columnas .columna_uno{
    margin-left: 3%;
    margin-right: 3%;
}

.contenedor_footer-columnas .columna_dos{
    margin-left: 3%;
    margin-right: 3%;
}

.contenedor_footer-columnas .columna_tres{
    margin-left: 3%;
    margin-right: 3%;
}
/*--------------------------------------------------*/






.contenedor-footer {
    background: var(--color_texto-primario);
    color: var(--background-color);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    margin-top: auto;
}

.contenedor_footer-columnas{
    display: flex;
    align-items: flex-start;
    font-size: 13px;
}

.contenedor_footer-columnas h2{
    padding-top: 10px;
    
}


.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.contenedor-footer [class*="icon-"]{
    color: var(--background-color);
}

.contenedor-footer [class*="icon-"]:hover{
    color: var(--color_texto-extra_II);
}


/*solo se aplicara siempre y cuando el viewport sea menor a 720px*/
@media screen and (max-width: 720px){

    
    .menu nav > ul{
        flex-direction: column;
        background-color: #389acb;
        position: absolute;
        left: 0;
        top: 65px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    
    .menu nav > ul > li a:hover{
        transform: scale(1);
    }

    .menu nav ul li ul{
        left: 190px;
    }

    .menu nav > ul > li:hover > ul{
        top: 43px;
    }

    #check-menu:checked ~ nav >ul{
        height: 250px;
        visibility: visible;
        opacity: 1;
    }
}

/*---Portada--------*/
.header_fondo{
    padding-top: 100px;
    padding-bottom: 100px;
    /*background: var(--main_color-extra_II);*/
    background-image: url("assets/imagenes/Background_Header.jpg");
    background-attachment: fixed; /*fondo fijo */
    background-repeat: no-repeat;
    text-align: center;                                         /*borrar en pántalla HD*/
}

.fondo{
    max-width: 100%;
    margin: auto;
    margin-top: 100px;
    display: block; /*version movil sin imagen asi que quedara como block para acomodar las letras*/
    padding: 0px 20px;
}

.fondo_texto{
    padding-right: 0px;                                   /*Modificar para pantalla HD con 150*/
}

.fondo_texto h1{
    font-size: 50px;
    color: var(--color_texto-secundario);
}

.fondo_texto p{
    font-size: var(--texto_parrafo);
    margin-top: 40px;
    color: var(--color_texto-terciario);
}

.fondo_imagen{
    width: 100%;
}

/*Imagen del landing pag y animacion*/
.fondo_imagen img{
    display: none;
}

/*---Banner movil-------------*/

.contenedor_sitio{
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
}

.banner-uno{
    height: 180px;
    display: flex;
    align-items: center;
    background: var(--main_color-extra_I);
    position: relative;
    margin-bottom: 200px;
}

.banner-uno .imagen_banner-uno{
    width: 300px;
    
}


.banner-uno .texto_banner-uno{
    width: 60%;
    position: relative;
}

.banner-uno .texto_banner-uno h2{
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.banner-uno .texto_banner-uno input{
    margin-top: 20px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 6px;
    font-weight: bold;
    transition: color 300ms;
}

.banner-uno .texto_banner-uno input:hover{
    color: #69F1A1;
}

.imagen_icono-uno{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#imagen-b{
    width: 180px;
    margin-top: 80px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
    margin-left: 15px;
    border-radius: 25px;
}

#icono-b{
    width: 180px;
    position: relative;
    margin-top: -100px;
    opacity: 0.6;
}















































/*---Pantalla HD-------------------------------------------------------------------------------------------------------------------------*/
/*--Solo se aplicara solo cuando el viewport sea mayor a 721px*/
@media (min-width:721px){

    .icon-user{
        width: 40px;
        height: 40px;
        visibility: visible;
        display: inline-flex;
        margin-left: 15px;
        text-align: center;

        justify-content: center;
        align-items: center;
        color: var(--color_texto-primario);
        border: 1px solid var(--color_texto-primario);
        border-radius: 20px;
        
        cursor: pointer;
        font-size: 1.8em;
    }

    .menu{
        width: 100%;
        display: inline-flex;
    }

    .menu nav{
        width: auto;
        display: inline-flex;
        justify-content: end;
        margin-right: 15px;
    }

    .icon-menu{
        display: none;
    }

    .menu .buscador{
        width: auto;
        display: inline-flex;
        justify-content: end;
    }

    .menu .buscador input{
        visibility: visible;
        display: inline-block;
        width: 100px;
        margin: initial;
        border: 1px solid #707070;
        border-radius: 30px;
    }



    .menu nav > ul >li >a{
        padding: 0px 10px 0px 10px;
        font-size: 12px;
        color: #cfdd2a;
    }
    .menu nav > ul >li >a:hover{
        transform: scale(1.1);
        background: var(--color_texto-primario);

    }








    header{
        width: 100%;
        height: 100px;
        position: fixed; /*  position: relative; para que permanezca arriba*/
        z-index: 100;
        box-shadow: 0 0 32px 0 rgba(31, 38, 135, 0.37);
        background: rgba(31,38,135,0.0.37);
        -webkit-backdrop-filter: blur(40px); /*compatibilidad con safari iphone*/
        backdrop-filter: blur(40px);
    }

    .contenedor_header{
        max-width: 1200px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        
        /*background: var(--main_color-extra_I); evaluar fondo si poner foto o color*/
        background: transparent
    }

    .logo{
        width: 250px;
        font-size: 35px;
        font-weight: 600;
        flex: none; /*acordar que se desactivo flex para el logo por constar de dos elementos, para no
        desarmar el logo*/
    }

    .logo a{
        color: var(--color_texto-primario);
    }

    #logo-ID{
        font-size: 50px;
        color: var(--main_color-extra_II);
        font-family: var(--fuente_logo);
    }




    /*---Portada index-----------------------------------------*/

    .header_fondo{
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(../imagenes/Background_Header.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        /*background: var(--main_color-extra_II);*/
    }

    .fondo{
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        display: flex; /*esto es para luego poner una imagen al lado*/
        align-items: center;
        padding: 0px 20px;
    }

    .fondo_texto{
        width: 100%;
        padding-right: 150px;
    }

    .fondo_texto h1{
        font-size: 50px;
        color: var(--color_texto-primario);
    }

    .fondo_texto p{
        font-size: var(--texto_parrafo);
        margin-top: 40px;
        color: var(--background-color);
    }

    .fondo_imagen{
        width: 100%;
    }

    /*Imagen del landing pag y animacion*/
    .fondo_imagen img{
        display: block;
        position: relative;
        height: 100%;
        width: calc(130% - 80px);
        top: 0px;
        right: 50px;
        /*transform: rotateY(180deg);*/
        animation: animateFightstick 4s linear infinite;
    }
    /*--animacion--*/
    @keyframes animateFightstick{
        50%{
            right: 30px;
            top: 20px;
        }
    }


    /*--Banner----------------------------------------------*/

    .contenedor_sitio{
        max-width: 1200px;
        margin: auto;
        margin-top: 80px;
    }

    .banner-uno{
        height: 250px;
        display: flex;
        align-items: center;
        background: var(--main_color-extra_I);
        position: relative;
        border-radius: 25px;
    }

    .banner-uno .imagen_banner-uno{
        width: 330px;
        
    }


    .banner-uno .texto_banner-uno{
        width: 60%;
        position: relative;
    }

    .banner-uno .texto_banner-uno h2{
        color: white;
        font-size: 20px;
        font-weight: 400;
    }

    .banner-uno .texto_banner-uno input{
        margin-top: 20px;
        background: transparent;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: color 300ms;
    }

    .banner-uno .texto_banner-uno input:hover{
        color: #69F1A1;
    }

    .imagen_icono-uno{
        height: 100%;
        position: absolute;
        right: 10px;
        overflow: hidden;
    }

    #imagen-b{
        width: 230px;
        margin-top: 60px;
        position: relative;
        filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
        margin-left: 35px;
        
    }

    #icono-b{
        width: 300px;
        position: relative;
        margin-top: -100px;
        opacity: 0.6;
    }
    

    /*--Articulos-------------------------------------------------*/
    
    






    

    /*--Footer----------------------------------------------------*/
        
    .contenedor_footer-columnas{
        max-width: 1200px;
        margin: auto;
        font-size: 15px;
    }


    /*---Tres columnas evaluar mas adelante-------*/
    .contenedor_footer-columnas .columna_uno{
        margin-left: 10px;
        margin-right: 5%;
    }

    .contenedor_footer-columnas .columna_dos{
        margin-left: 10px;
        margin-right: 5%;
    }

    .contenedor_footer-columnas .columna_tres{
        margin-left: 10px;
        margin-right: 5%;
    }
    /*--------------------------------------------------*/




    .contenedor_footer-columnas h2{
        padding-top: 9px;
    }

    .copy {
        text-align: center;
        margin: auto;
        margin-top: 15px;
    }



    .contenedor-footer [class*="icon-"]{
        color: var(--background-color);
    }

    .contenedor-footer [class*="icon-"]:hover{
        color: var(--color_texto-extra_II);
    }













}



/*--Pantalla full HD-------------------------------------------------------*/
@media (min-width:1020px){

    .menu nav{
        width: auto;
        display: inline-flex;
        justify-content: end;
    }

    .menu .buscador{
        width: auto;
        display: inline-flex;
        justify-content: end;
    }

    .menu .buscador input{
        display: inline-block;
        width: 230px;
        margin: initial;
    }

    .menu nav > ul >li >a {
        font-size: 15px;
    }
}